* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(255, 232, 250);
}

.Container {
  width:fit-content;
  padding: 50px;
}

.Heading {
  
}

.Center {
  display: flex;
  flex-direction: column;
}

.Gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}